export {RSC_LICENSE,CONNECT_LICENSE}={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").RSC.value }}
export {RSP_LICENSE,RSW_LICENSE}={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").RSP.value }}
export RSPM_LICENSE={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").RSPM.value }}
export SSP_LICENSE={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").SSP.value }}

export PYTHON_CONFIGURE_OPTS="--enable-shared"
eval "$(pyenv init -)"
eval "$(pyenv virtualenv-init -)"
