export {RSC_LICENSE,CONNECT_LICENSE}={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").RSC.value }}
export {RSP_LICENSE,RSW_LICENSE}={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").RSP.value }}
export {RSPM_LICENSE, RSTUDIO_PM_LICENSE}={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").RSPM.value }}
export SSP_LICENSE={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").SSP.value }}

export RSC_COLORADO={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").COLORADO.value }}
export RSC_CO_K8S={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").CO_K8S.value }}
export RSC_RADIXU={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").RADIXU.value }}
export RSC_RSTUDIOSERVICES={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").RSTUDIOSERVICES.value }}
export RSC_CO_STAGING={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").CO_STAGING.value }}
export RSC_DAILY={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").CO_DAILY.value }}

export {GH_TOKEN,GITHUB_PAT}={{ (bitwardenFields "item" "0b1a947a-a9f9-423b-a072-ab54010438b3").main.value }}

export PYTHON_CONFIGURE_OPTS="--enable-shared"
