export {RSC_LICENSE,CONNECT_LICENSE}={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").RSC.value }}
export {RSP_LICENSE,RSW_LICENSE}={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").RSP.value }}
export {RSPM_LICENSE, RSTUDIO_PM_LICENSE}={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").RSPM.value }}
export SSP_LICENSE={{ (bitwardenFields "item" "f39269f0-c334-4dfc-a2bd-ac7e00f14428").SSP.value }}

export RSC_COLORADO={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").COLORADO.value }}
export RSC_CO_K8S={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").CO_K8S.value }}
export RSC_RADIXU={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").RADIXU.value }}
export RSC_RSTUDIOSERVICES={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").RSTUDIOSERVICES.value }}
export RSC_CO_STAGING={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").CO_STAGING.value }}
export RSC_DAILY={{ (bitwardenFields "item" "f5dacb44-cd4b-44b3-a661-ade00139fefd").CO_DAILY.value }}

export FLEETING_API_KEY={{ (bitwarden "item" "29c0c7f2-b493-4a74-873f-aec20114693f").login.password }}
export PYPI_API_KEY={{ (bitwardenFields "item" "5abc7b5c-6c21-454b-90b7-add301676855").token.value  }}

export PYTHON_CONFIGURE_OPTS="--enable-shared"
